<div class="form-group">
  <h3 *ngIf="!showName">{{name}} <a href="#" (click)="updateName()">edit</a></h3>
  <label *ngIf="showName" class="form-control">Name:
    <input [(ngModel)]="name" type="text" required />
  </label>
  <h3 *ngIf="!showPrice">{{price}} <a href="#" (click)="updatePrice()">edit</a></h3>
  <label *ngIf="showPrice" class="form-control">Price:
    <input [(ngModel)]="price" type="number" step="1" min="1" required />
  </label>
  <h3 *ngIf="!showStock">{{stock}} <a href="#" (click)="updateStock()">edit</a></h3>
  <label *ngIf="showStock" class="form-control">Stock:
    <input [(ngModel)]="stock" type="number" step="1" min="1" required />
  </label>
  <button (click)="submit()">{{button}}</button>
</div>