<div style="float:right">
  <table class="table">
    <tr><th>Name</th><th>Price</th><th>Stock</th><th>Actions</th></tr>
    <tr style="background:{{bgColor}};">
      <td>{{reward.name}}</td>
      <td>${{reward.price}}</td>
      <td>{{reward.stock}} units</td>
      <td>
        <span class="btn-group">
          <button *ngIf="!trainer" type="button" id="buyButton{{reward.rewardId}}" class="btn btn-primary" (click)="buyReward()">Buy</button>
          <span *ngIf="trainer" class="btn-group">
            <button type="button" id="editButton{{reward.rewardId}}" class="btn btn-warning m-1" (click)="editReward()">Edit</button>
            <button type="button" id="deleteButton{{reward.rewardId}}" class="btn btn-danger m-1" (click)="deleteReward()">Delete</button>
          </span>
        </span>
      </td>
    </tr>
  </table>
</div>
