<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <ul class="navbar-nav" id="navItems">
        <li class="nav-item" *ngIf="!user.authenticated" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="user.authenticated" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['dashboard']">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="user.authenticated && user.trainer" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['adjustments']">Adjustments</a>
        </li>
        <li class="nav-item" *ngIf="user.authenticated" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['store']">Store</a>
        </li>
        <li class="nav-item" *ngIf="user.authenticated">
            <a class="nav-link" href="#" (click)="logout()" id="logout">Log out</a>
        </li>
    </ul>
</nav>