<form class="border border-primary rounded bg-light p-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div id="alertDiv"></div>
    <div class="form-group">
        <label for="usernameField">Username</label>
        <!-- <div *ngIf="loginForm.controls.username.errors.required"> Username is a required field</div> -->
        <input type="text" class="form-control" formControlName="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="passwordField">Password</label>
        <!-- <div *ngIf="loginForm.controls.password.errors.required"> Password is a required field</div> -->
        <input type="password" class="form-control" formControlName="password" placeholder="Password">
    </div>
    <form class="form-group" [formGroup]="radioGroupForm">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
            <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" value="associate"> Associate
            </label>
            <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" value="trainer"> Trainer
            </label>
        </div>
    </form>
    <button type="submit" id="loginButton" class="btn btn-primary">Login</button>
</form>
<hr>
<pre>{{radioGroupForm.value['model']}}</pre>
